/*wrapper to correctly format*/
section{
    display:flex;
}
body{
    margin: 0;
}
.right{
    display:flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 300px);
    
}
.Engineer_Description{
    font-size: 50px;
    padding-right: 10px;
    font-family: 'Source Sans Pro', sans-serif;
}
.vision_description{
    font-size: 50px;
    padding-left: 10px;
    font-family: 'Source Sans Pro', sans-serif;
}
/*background color needs to be adjusted*/
.left{
    background-color:rgba(99, 0, 153, 0.46);
    display:flex;
    flex-direction: column;
    width: 300px;
    padding-right:10%;
    margin: 0 10px 0px 0;
    height: 100vh;
}
ul{
    display: flex;
    flex-direction: column;
}
a{
    font-family: 'Roboto', sans-serif;
    display: flex;
    padding-bottom: 60%;
    font-size: 30px;
    color:white;
    text-decoration: none;
}
img{
    width: 400px;
}